@import "src/webapp/VAADIN/themes/mytheme/mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  //@include addons;
  @include mytheme;
  
    /* White background for the entire UI */
  .v-ui {
    //background: #9AA637;
    background:-webkit-gradient(linear, 0% 0%, 100% 21%, from(#00E6BD), to(#FF8200));
  }
   
<<<<<<< HEAD
=======
  // background-color: $awesome-blue;
   
>>>>>>> 62c4468c6ee8a6eb89cfe66ea346fce3976d6b80
     /* All buttons have blue caption and some margin */
    .v-button {
      margin: 10px;
      font-weight: bold;
      height: 50px;
      width: 100%;
      float: center;
      position: center;
      border-radius:5px;

    /* A nested selector to increase specificity */
    .v-button-caption {
      color: red;
    }
    
     /* All buttons have blue caption and some margin */
    .v-label {
      //margin: 10px;
      //font-weight: bold;
      //height: 50px;
      //width: 100%;
      //float: center;
      //position: center;
      //border-radius:5px;

    /* A nested selector to increase specificity */
    .v-label-caption {
      color: red;
    }


}
